@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap">

    <style>
        body {
            background-color: #000000 !important;
            margin: 0;
            padding: 0;
        }

        .text-center {
            padding: 20px;
            color: #C69749;
            margin-top: 170px;
        }

        h1 {
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 100;
            font-style: normal;
            font-optical-sizing: auto;
            font-size: 35px;
            text-align: center;
        }


        h2 {
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-optical-sizing: auto;
            margin-left: 0;
            text-align: center;
            font-size: 120px;
        }

        h3 {
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 100;
            font-style: normal;
            font-optical-sizing: auto;
            font-size: 35px;
            text-align: center;
        }

        p {
            font-family: 'Century Gothic';
            font-weight: 100;
            font-style: normal;
            font-optical-sizing: auto;
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h1>Welcome to My Page </h1>
        <h2>Justin Ken M. Lopez</h2>
        <h3>BSIT-32E3</h3>



</body>
</html>
